<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrWr8eMgkkct4iK3uJTxWU5JRwZivZsMo</string>
	<key>GCM_SENDER_ID</key>
	<string>155791128974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.higa.ios.ReservationSystem</string>
	<key>PROJECT_ID</key>
	<string>reservationsystem-403ef</string>
	<key>STORAGE_BUCKET</key>
	<string>reservationsystem-403ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155791128974:ios:37b6a728549a5f18964cdf</string>
</dict>
</plist>